<div class="auth-layout">
    <section class="auth-layout__branding">
        <div class="auth-layout__branding-content">
            <div class="auth-layout__logo">
                <span class="auth-layout__logo-mark">
                    JH
                </span>

                <div class="auth-layout__logo-text">
                    <h1>Job Hunt OS</h1>
                    <p>Track applications with clarity.</p>
                </div>
            </div>

            <div class="auth-layout__hero">
                <h2>
                    Organize your entire job search workflow in one place.
                </h2>

                <p>
                    Manage applications, recruiters, interviews,
                    followups, resumes, and activities with a
                    scalable productivity system.
                </p>
            </div>
        </div>
    </section>

    <section class="auth-layout__content">
        <div class="auth-layout__content-wrapper">
            <router-outlet />
        </div>
    </section>
</div>